 /* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET FINE */


html, body{padding:0px;
    margin:0px;
    font-family: Verdana, Helevetica, sans-serif;
    color: black;
    background-color:#C4B49D;
}


#headheader{
    padding: 0;
    margin: 30px auto; /*per Firefox, Opera, Safari, etc...*/
}

/*Elementi nascosti di lettura per lo screenR e non visibili*/
.nascosto{
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
    display: none;

}


/*Logo*/
h1{
    margin: 0;
    padding: 0px 0px 10px 10px;
    text-align:left;
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 74%;
    height: 200px;
}

/*Login*/
legend{
   font-size:1.4em;
   padding: 1em 0em 1em 0em;
}

#logError{      /*Compare dinamicamente a errore di inserimento*/
   font-size: 1.2em;
   color: #8c001f;
   margin-right: 1em;
}

#contenitore-login{
    margin: 0;
    padding: 5px 10px 10px 0px;
    text-align: center;
}


#accedi{
    float: right;
    margin: 5px;
    color: white;

    border: solid 1px #2b2821;
    background: #4e4b3b;

}

#accedi{
    float:right;
    padding: 0 15px 0 15px;
}

#contenitore-login label{
    color: #31456b;
    font-size: 1.2em;
    margin-top: 0.5em;
}

#inputUsername, #inputPassword{
    width: 30%;
}

#logout, #login{
    margin: 5px;
    float: right;
    text-decoration: none;
    padding: 1.5px 15px 1.5px 15px;
    color: white;
    border: solid 1px #2b2821;
    background: #4e4b3b;
}

/* BreadCrumbs Part*/
#breadcrumbs{
    border-top: 1px dotted #4e4b3b;
    border-bottom: 1px dotted #4e4b3b;
    clear: both;
    display:inline-block;
}

#rifnav {
    font-style: oblique;
    width: 100%;
    margin: 1em auto 1em 2em;
    color: black;
    display: block;
}

/*Menu*/
#contenitore-menu{
    width: 35em;
    margin: 0 auto;
}
#contenitore-menu-admin{
    width: 742px;
    margin: 0 auto;
}

.vnav{
    background-color: #ffcdcc;
    font-weight: bold;
}

.menu{
    font-style: oblique;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #C4B49D;
}

.menu li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    color: white;
    background-color: #111;
}

/*Contenuto-Body-Centro*/

h2{
   font-size: 1.9em;
   font-weight: 400;
   font-style:normal;
   text-align:center;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-transform:uppercase;
   margin: 1em;
}

#content{
    background-color:#c4b49d;
    margin:0 auto;
    padding: 1em;
    width:80%;
    color: black;
    clear: both;
}

.informazioni{
    display:block;
}

#immagine {
    background-image: url(../img/home1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 27em;
}

.titolo_contattaci{
    color: #fff3f6;
    padding: 20px;
    font-size:1.2em;
    text-align: center;
    background: #4e4b3b;
}

.titolo_contattaci h2{
    font-size:1.4em;
}

.SaloneAnna .info{
    margin: 0 0 0.5em 0;
    color: #31456b;
    clear: both;
    text-align: center;
    font-style: oblique;
}

.info {
    display: block;
    margin: 0 0 0.5em 0;
    color: #31456b;
    clear: both;
    text-align: center;
    font-style: oblique;
    width: 100%;
}

.inforesult {
    font-weight: bold;
    text-align: center;
    margin: 1em;
}

#email{
    width: 40%;
}

/*Listino Prezzi*/


#listino{
    margin: 1em auto;
    width:100%;

    background: white;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
}


.rtipo{
   font-size: 1em;
   font-weight: 600;
   font-style: oblique;
   text-align:center;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-transform:uppercase;
}

.thprima{
  font-size:1.4em;

}

.thseconda{
  border-right:none;
  font-size:1.4em;

}

tr {
  border-top: 1px solid #C1C3D1;
  color:#3e4150;
  font-size:1em;
  font-weight:normal;
}

thead tr{
  border-top:none;
}

.cintervento{
    background:#EBEBEB;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:0.9em;
  border-right: 1px solid #C1C3D1;
}


th {
  color:#FFFFFF;
  background:#4e4b3b;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:1em;
  font-weight: 100;
  padding:24px;
  text-align:left;
  vertical-align:middle;
}

/* Tabelle */

caption {
    padding: 1em;
    font-style: italic;
}

/* Realizzazioni */

.photo {
    float: left;
    width: 32%;
    margin: 0.2em;
    text-align: center;
}

.photo a{
    text-decoration:none;
}

.desc {
    text-align: center;
    color: black;
    font-style: italic;
    padding: 1em;
}

#content img {
    border: 0.3em solid black;
    margin: 1em;
}

#content img:hover {
    border: 0.3em solid #fff3f6;
    margin: 1em;
}

/*Parte per la form di contattaci*/

.body_contattaci{
    padding-left:100px;
    padding-right: 100px;
    margin-top: 50px;
    border-color : #333333;
}

form {
    max-width: 100%;
    display: block;
}
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
form ul li {
    margin: 0 0 0.25em 0;
    clear: both;
    display: inline-block;
    width: 100%;
}

form ul li p.right {
    float: right;
}
form ul li .divider {
    margin: 2em 0 2em 0;
    border: 0;
    height: 1px;
    width: 100%;
    display: block;
    background-color: #31456b;
}
form ul li .req {
    color: #ee9cb4;
}
form label {
    display: block;
    color: #31456b;
    font-size: 0.8em;
}
form input {
    margin: 1em 2em 1em 2em;
    border: 1px solid #ccc;
    padding: 0.3em 0.6em;
    color: #555;
    font-size: 1em;
}
form textarea {
    margin: 1em 2em 1em 3em;
    border: 1px solid #ccc;
    padding: 6px 10px;
    width: 70%;
    color: #555;
}
form small {
    color: #31456b;
    margin: 0 0 0 0.5em;
}


#frameMappa {
    width: 100%;
    height: 20em;
}

.print {
    display: none;
}

.errorSuggestion{
    font-size: 1em;
    font-style: oblique;
    color: #8c001f;
    margin: 1em;
    vertical-align: text-top;
}

.messaggio{
   font-size: 1.2em;
   font-style: oblique;
   color: #8c001f;
   margin-bottom: 2em;
}

.dati{
    color: #3e000e;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenuto{
    margin-top: 20px;
    margin-bottom: 20px;
}

.goFast {
    float: right;
    clear: both;
    font-style: oblique;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    margin: 2em 1em;
    color: white;
    border: solid 1px #2b2821;
    background: #4e4b3b;
    display: block;
}

.prodotto .nome_scientifico{
    font-style: oblique;
}

.prodotto .tipo{
    font-weight: bold;
}

.img{
    text-align: center;
    margin: 0 auto;
}

img {
    max-width: 93%;
}

.dati{
}

.riquadro_prezzi{
    width: 96%;
}

.radio{
    float:right;
}

.prezzo{
    color: #232323;
    font-style: oblique;
    text-align: right;
    margin: 10px;
    clear: both;
}

.subbutton{
    padding-right: 10px;
    color: white;
    float: right;

    border: solid 1px #2b2821;
    background: #4e4b3b;

}

.check{
    padding-bottom: 1em;
    display: block;
}

/* Messaggio */

#messaggio ul li {
    width: 100%;
    margin: 1em;
    color: #31456b;
}

#nomecognome {
    float: left;
    width: 49%;
}

#dataora {
    float: left;
    width: 49%;
}

#telefono {
    float: left;
    width: 49%;
}

#mail {
    float: right;
    width: 50%;
}

#messaggio em {
    margin: 1em;
    font-style: italic;
    font-size: 0.9em;
}

/* Parte Admin e form */


.createButton{
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    margin: 2em auto;
    color: white;
    border: solid 1px #2b2821;
    background: #4e4b3b;
    display: block;
    width: 50%;
    text-align: center;

}

.productButtons{
    padding: 2em;
    width: 96%;
    clear: both;
}

.productButton{
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em;
    color: white;
    border: solid 1px #2b2821;
    background: #4e4b3b;
}

input[type="button"], input[type="submit"]{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: solid 1px #2b2821;
    background: #4e4b3b;
}

.inputsL{
   float: left;
    width: 25%;
    clear: both;
}

.inputsR{
    float: left;
    width: 74%;
    margin-bottom: 1em;
}

.inputsL input {
    text-align: right;
}

.datiAppun {
    float: left;
    width: 49%;
}

.tipiAppun {
    float: right;
    width: 49%;
}

.tipoAppun{
    float: left;
    width: 30%;
    border-bottom: 1px outset;
    text-align: center;
    padding: 0.5em;
}

.confermAppun{
    clear: both;
    text-align: center;
}

.tipoAppun label {
    margin-bottom: 0.5em;
}


/*VISUALIZZA APPUNTAMENITI */

.ggApp {
    padding: 1em;
    border-top: 1px dashed #4e4b3b;
}

p.ggCalendario {
    padding: 1em;
}

.ggCalendario {
    padding: 1em;
    margin: 6px auto;
    text-align: center;
    color: #31456b;
    font-size: 1.4em;
}

/* Footer */


.footer{
    font: bold 16px sans-serif;
    margin-top: 20px;
    width:100%;
    clear:left;
    bottom:0;
    margin-left: 1em;
    margin-right: 1em;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
    display: inline-block;
    vertical-align: top;
}


.footer .footer-left{
    width: 30%;
    float: left;
}


#logo_mini{
    font-size:0em;
    background-image: url(../img/logo_mini.png);
    background-repeat: no-repeat;
    margin: 0;
    color:black;
    width: 200px;
    height: 50px;
}

.footer .footerlogo span {
    display:block;
    height:0;
    overflow:hidden;
}

.footer .footer-left a{
    padding-left: 2px;
    padding-right: 2px;
}

.footer .footer-nome-azienda{
    color:  #333333;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
}

.footer .footer-center{
    width: 38%;
}

.footer .footer-center i{
    color: #333333;
    font-size: 2em;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
}

.footer .footer-center i.fa-mail{
    font-size: 1em;
    line-height: 38px;
}

.footer .footer-center p{
    display: inline-block;
    color: #333333;
    vertical-align: middle;
    margin:0;
}

.footer .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:0.9em;
    line-height:2;
}


.footer .footer-right{
    float: left;
    color: black;
    width: 30%;
}

.footer .footer-nome-azienda{
    line-height: 20px;
    font-size: 0.85em;
    font-weight: normal;
    margin: 0;
}

.footer .footer-company-info span{
    display: block;
    color:  #333333;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 20px;
}

.testo-footer{
    color: #333333;
}