html, body{
    padding:0px;
    margin:0px;
    font-family: "Times New Roman", Helevetica, serif;
    font-size:12px;
    color: black;
    background: transparent;
}


#headheader{
    position: static;
    float: none;
}

#logo{
  display:inline;
}

#contenitore-login{
    display:none;
}


/*Logo*/
h1{
    position: static;
    float: none;
    text-align:center;
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    content:url(../img/logo.png);
    
}


/* Errori e Info */

.inforesult {
    font-weight: bold;
    text-align: center;
    margin: 1em;
}

.errorSuggestion{
    font-size: 1em;
    font-style: oblique;
    color: #8c001f;
    margin: 1em;
}

#logError{      /*Compare dinamicamente a errore di inserimento*/
   font-size: 1.2em;
   color: #8c001f;
   margin-right: 1em;
}

.info {
    display: block;
    margin: 0 0 0.5em 0;
    color: #31456b;
    clear: both;
    text-align: center;
    font-style: oblique;
    width: 100%;
}

/* Generale */

input[type="submit"], input[type="reset"]{
    display: none;
}

.createButton{
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    margin: 2em auto;
    color: white;
    border: solid 1px #2b2821;
    background: #4e4b3b;
    display: block;
    width: 50%;
    text-align: center;
}

/* BreadCrumbs Part*/
#breadcrumbs{
    width: 100%;
    background-color:#b0fcb0;
    clear: both;
    font-size: 1.5em;
}

#rifnav {
    text-align:center;
    font-style: oblique;
    width: 100%;
    color: black;
    margin-top: 20px;
}

#login, #ricerca, #logout, #conferma{
    display: none;
}

.nascosto{
    display: none;
}



/*Menu*/
#contenitore-menu , #contenitore-menu-admin {
    display:none;
}


/*Contenuto-Body-Centro*/

h2{
   font-size: 1.9em;
   font-weight: 400;
   font-style:normal;
   text-align:center;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-transform:uppercase;
   margin: 1em;
}

#content{
    background-color:#b0fcb0;
    margin:0 auto;
    padding: 1em;
    width:auto;
    color: black;
    clear: both;
}

#immagine {
    background-image: url(../img/home1.png);
    content:url(../img/home1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 200mm;
    height: auto;
}

.body_contattaci{
    display:none;
}

.informazioni{
    display:block;
}


/* Realizzazioni */

.photo {
    margin: 0.2em;
    text-align: center;
    page-break-inside: avoid;
}

.photo a{
    text-decoration:none;
}

.desc {
    text-align: center;
    color: black;
    font-style: italic;
    page-break-after: avoid;
    display:block;
    font-size: 2em;
    clear: both;
}

#content img {
    margin: 1em;
    max-height: 200mm;
}


/* Listino */

table{
    font-size: 70%;
    text-align: center;
    background: white;
    max-width: 150mm;
    padding:5px;
    width: 70%;
   page-break-after: avoid;
}

.rtipo{
   font-size: 1em;
   font-weight: bold;
   font-style: oblique;
   text-align:center;
   font-family: "Roboto", helvetica, arial, sans-serif;
   page-break-after: avoid;
}

.thprima{
  font-size:1.4em;
  font-weight: bold;

}

.thseconda{
  border-right:none;
  font-size:1.4em;
  font-weight: bold;

}

tr {
  border: 1px solid #C1C3D1;
  font-size:1.4em;
  font-weight:normal;
}

thead tr{
  border-top:none;
}
.cintervento{
    background:#EBEBEB;
}

td {
  background:#FFFFFF;
  text-align:left;
  vertical-align:middle;
  font-size:1.4em;
  border: 1px solid #C1C3D1;
}


th {
  color:#FFFFFF;
  background:#4e4b3b;
  border-bottom:1px solid #9ea7af;
  font-size:1.4em;
  text-align:left;
  vertical-align:middle;
}

/* Tabelle Varie */

.tdin, legend, .noPrint{
    display : none;
}

caption {
    margin: 1.2em;
    font-style: italic;
}

/*Parte per la form di contattaci*/

.info {
    display: block;
    margin: 0 0 0.5em 0;
    font-size: 1em;
    text-align: center;
}

#divMappa {
    width: 100%;
    height: 20em;
    content:url(../img/mappa.png);
}

.print {
    width: 180mm;
    height: auto;
    display: block;
}

.errorSuggestion{
    display: none;
    
}

/* Appuntamenti */

.ggApp {
    list-style: none;
   page-break-after: avoid;

}

p.ggCalendario {
    padding: 1em;
}

.ggCalendario {
    padding: 1em;
    margin: 6px auto;
    text-align: center;
    color: #31456b;
    font-size: 1.4em;
}

.tipiAppun{
    float: right;
    width: 49%;
}

.tipoAppun{
    float: left;
    width: 40%;
    border-bottom: 1px outset;
    text-align: center;
    padding: 0.5em;
}

.datiAppun{
    float: left;
    width: 49%;
    text-align: center;
}

.confermaAppun{
    display: none;
}

/* Footer */

.footer{
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    clear:both;
    border: 1px dotted #4e4b3b;
    page-break-inside: avoid;
}

.footer .footer-left,
.footer .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-left{
    margin: 1em 4em;
    width: 33%;
    float: left;
}

.testo-footer{
    border-bottom: 1px dotted;
    margin-top: 0.5em;
    text-align: center;
}

.testo-footer a {
    text-decoration: none;
    color: #31456b;
}

.footer-right{
    width: 25%;
    float: left;
    margin-top: 1em;
}


#logo_mini{
    font-size:0em;
    background-image: url(../img/logo_mini.png);
    content:url(../img/logo_mini.png);
    background-repeat: no-repeat;
    margin: 0;
    color:black;
    width: 200px;
    height: 50px;
}


#back_to_top, .back_to_top, .w3c {
    font-size: 0px;
    height: 0px;
    display: none;
    width: 0px;
}
