/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET FINE */


html, body{
    padding:0px;
    margin:0px;
    font-family: Verdana, Helevetica, sans-serif;
    color: black;
    background-color:#C4B49D;
}


#headheader{
    padding: 0;
    margin: 30px auto; /*per Firefox, Opera, Safari, etc...*/
    
}

/*Elementi nascosti di lettura per lo screenR e non visibili*/
.nascosto{
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

/*Login*/

.contentLogButton {
    text-align: center;
}

#logout, #login{
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    padding: 1.5px 15px 1.5px 15px;
    color: white;
    border: solid 1px #4e4b3b;
    background: #4e4b3b;
}

legend{
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
    
    display: none;
}

#logError{      /*Compare dinamicamente a errore di inserimento*/
   
   font-size: 1.2em;
   color: red; 
}

#contenitore-login{
    margin: 1em;
    padding: 5px 10px 10px 0px;
    clear: both;
    text-align: center;
}


#accedi{
    color: white;
    
    border: solid 1px #4e4b3b;
    background: #4e4b3b;
    
}

#legend{
    margin: 1em;
}

#accedi{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

#contenitore-login label{
    color: #0808c1;
    font-size: 1em;
    margin-top: 1em;
}

#inputUsername, #inputPassword{
    width:30%;
}

#updateOk{
   font-size: 1em;
   color: #8c001f; 
   margin-right: 1em;  
}


/*Logo*/
h1{
    text-align:center;
    float:left;
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 99% auto;
    width: 99%;
    height: 100px;
}

#accedi{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30%;
}

#contenitore-login label{
    color: #0808c1;
}

#inputUsername{
    width:90%;
}

#inputPassword{
    width:90%;
}




/* BreadCrumbs Part*/

#breadcrumbs{
    border: 1px dotted #4e4b3b;
    clear: both;
    width: auto;
    text-align: center;
}

#rifnav {
    font-style: oblique;
    width: 99%;
    color: black;
    margin-left: 25px;
    clear: both;
    line-height: 30px;
}


#conferma{
    float: right;
    margin-right:10%;
    outline: none;
    text-align: center;
    font: bold 1em Arial, Helvetica, sans-serif;
    color: #fff;
    border: solid 1px #4e4b3b;
    background: #4e4b3b;
}

.ricerca{
    position:relative;
    left:5%;
}


/*Menu*/
#contenitore-menu {
    width: 310px;
    margin: 0 auto;
}

#contenitore-menu-admin {
    width: 310px;
    margin: 0 auto;
}

.vnav{
    background-color: #ffcdcc;
    font-weight: bold;
}

.menu{
    font-style: oblique;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C4B49D;

    font-size: 89%;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 1em 0.30em;
    text-decoration: none;
}


li a:hover {
    color: white;
    background-color: #111;
}

/*Contenuto-Body-Centro*/

h2{
   font-size: 1.9em;
   font-weight: 400;
   font-style:normal;
   text-align:center;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   margin: 1em;
}

#content{
    margin:0 auto;
    color: black;
    clear: both;
}

.informazioni{
    display:block;
}

.center {
    display: block;
    margin: 1em 2em 1em 2em;
}

#immagine{
    background-image:url("../img/prato.jpg");
    background-size: 100% auto;
    background-repeat:no-repeat;
    width:99%;
    height:10em;
}


.titolo_contattaci{
    color: #ffffff;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    background: #4e4b3b;
}

.SaloneAnna .info{
    margin: 0 0 1em 0;
    color: #31456b;
    clear: both;
    text-align: center;
    font-style: oblique;
}

.inforesult {
    font-weight: bold;
    text-align: center;
}

input[type="button"], input[type="submit"]{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: solid 1px #4e4b3b;
    background: #4e4b3b;
    font-size: 0.75em;
    display: block;
    margin: 0 auto;
    width: 40%;
}

.info p {
    margin-bottom: 0.5em;
    font-size: 90%;
}

.createButton{ /*bottoni tutta la parte amministratore*/
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.4em 2em 0.4em 2em;
    color: white;
    border: solid 1px #4e4b3b;
    background: #4e4b3b;
    float: left;
    text-align: center;
    width: 70%;
}

/* Realizzazioni */

.photo {
    width: 90%;
}

.contentfigura {
    text-align: center;
}

#content img {
    border: 0.3em solid;
    margin-top: 2em;
    max-width: 95%;
}

figcaption {
    text-align: center;
}

input#img_desc {
    width: 80%;
}

input#uploadedfile {
    width: 100%;
}


/*Parte per la form di contattaci*/

.titolo_contattaci h2{
    font-size: 1.2em;
}

.titolo_contattaci{
    text-align: center;
}

.body_contattaci{
    text-align: center;
    padding-top : 20px;
    border-color : #333333;
}

form {
    max-width: 100%;
    display: block;
}
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
form ul li {
    margin: 0 0 0.25em 0;
    clear: both;
    display: inline-block;
    width: 100%;
}
form ul li:last-child {
    margin: 0;
}

form ul li p.right {
    float: right;
}
form ul li .divider {
    margin: 2em 0 2em 0;
    border: 0;
    height: 1px;
    width: 100%;
    display: block;
    background-color: #4f6fad;
    background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
form ul li .req {
    color: #ee9cb4;
}
form label {
    display: block;
    margin: 0.5em 0 0.5em 0;
    color: #4f6fad;
    font-size: 0.8em;
    text-align: center;
}

form input {
    margin: 0.8em auto;
    display: block;
    border: 1px solid #ccc;
    padding: 0.3em 0.6em;
    color: #555;
    font-size: 1em;
}
form textarea {
    resize: none;
    border: 1px solid #ccc;
    padding: 0.5em 0.8em;
    width: 95%;
    color: #555;
}
form small {
    color: #4f6fad;
    margin: 0 0 0 0.5em;
    font-size: 0.7em;
}

.Gaddress {
    width: 99%;
}

.info {
    font-size: 0.9em;
    color: #31456b;
    clear: both;
    padding-bottom: 1em;
    text-align: center;
    font-style: oblique;
    width: 100%;
    display: block;
}

#frameMappa {
    width: 100%;
    height: 20em;
}

.print {
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;

    display: none;

}

.errorSuggestion{
    font-size: 0.8em;
    font-style: oblique;
    color: #8c001f;
    clear: both;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}

.messaggio{
   font-size: 1em;
   font-style: oblique;
   color: #8c001f;
   margin-bottom: 2em;
}



/* PRODOTTI */


.goFast {
    text-align: center;
    display: flex;
    font-style: oblique;
}


.subbutton{
    padding-right: 10px;
    color: white;
    float: right;
    border: solid 1px #4e4b3b;
    background: #4e4b3b;
}

.check{
    padding-bottom: 1em;
    display: block;
}


/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
    display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr, tfoot tr  {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr { border: 1px solid #ccc; }

#ProdottiMagazzino td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: right;
}

td:before {
    /* Qui uguale all'header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
}

#ProdottiMagazzino form input {
    margin: 0em auto;
    display: block;

}

/* Seleziona prodotto da eliminare diverso */
#ProdottiMagazzino td:last-child {
    color: #ffffff;
    background: #4e4b3b;
    vertical-align:center;
    margin-bottom: 1em;
}

/*
Label the data
*/

#ProdottiMagazzino td:nth-of-type(1):before { content: "CodProdotto"; font-weight: bold; }
#ProdottiMagazzino td:nth-of-type(2):before { content: "Nome"; font-weight: bold; }
#ProdottiMagazzino td:nth-of-type(3):before { content: "Marca"; font-weight: bold; }
#ProdottiMagazzino td:nth-of-type(4):before { content: "Tipo"; font-weight: bold; }
#ProdottiMagazzino td:nth-of-type(5):before { content: "Quantità"; font-weight: bold; }
#ProdottiMagazzino td:nth-of-type(6):before { content: "PVendita"; font-weight: bold; }
#ProdottiMagazzino td:nth-of-type(7):before { content: "PRivendita"; font-weight: bold; }
#ProdottiMagazzino td:nth-of-type(8):before { content: "Seleziona"; font-weight: bold; }

/* Inventario */
td input[type="text"] {
    width: 3em;
    margin: 0.2em auto;
    text-align: right;
}

/*Listino Prezzi*/


#listino{
    margin: 1em auto;
    width:100%;

    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}


h2{
   font-size: 1.9em;
   font-weight: 400;
   font-style:normal;
   text-align:center;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   margin: 1em;
}

.rtipo{
   font-size: 1em;
   font-weight: 600;
   font-style: oblique;
   text-align:center;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.thprima{
  border-top-left-radius:3px;
  font-size:1.4em;

}

.thseconda{
  border-top-right-radius:3px;
  border-right:none;
  font-size:1.4em;

}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#3e4150;
  font-size:1em;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

thead tr{
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

.cintervento{
    background:#EBEBEB;
}

td {
  background:#FFFFFF;
  padding:10px;
  text-align: center;
  vertical-align:middle;
  font-weight:300;
  font-size:0.9em;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  /* float: right; */
}


th {
  color:#FFFFFF;
  background:#4e4b3b;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:1em;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

/* Tabelle */

caption {
    margin: 1em;
    font-style: italic;
    display: block;
}

.mobile{
    position: static;
    left: inherit;
    top: initial;
    width: 100%;
    clear: both;
    height: inherit;
    font-size: 0.7em;
    text-align: center;
}

/* Footer */


.footer{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-align: center;
    font: bold 1em sans-serif;
    padding: 25px 20px;
    margin-top: 20px;
    width: 99%;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
}


.footer .footer-left{
    width: 99%;
}

#logo_mini{
    text-align:center;
    background-image: url(../img/logo_mini.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    color:black;  
    width: 99%;
    height: 5em;
    font-size: 0em;
}

.footer h3 span {
    display:block;
    height:0;
    overflow:hidden;
}

.footer .footer-left .footer-menu a{
    padding-left: 2px;
    padding-right: 2px;
}

.footer .footer-nome-azienda{
    color:  #333333;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
}

.footer .footer-center{
    width: 99%;
}

.footer .footer-center i{
    color: #333333;
    font-size: 2em;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-mail{
    font-size: 1em;
    line-height: 38px;
}

.footer .footer-center p{
    display: inline-block;
    color: #333333;
    vertical-align: middle;
    margin:0;
}

.footer .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:0.9em;
    line-height:2;
}


.footer .footer-right{
    width: 99%;
}

.footer .footer-right{
    color: black;
}

.footer .footer-nome-azienda{
    line-height: 20px;
    font-size: 0.85em;
    font-weight: normal;
    margin: 0;
}

.footer .footer-company-info span{
    display: block;
    color:  #333333;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 20px;
}

.testo-footer{
    color: #333333;
}

